body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: "Elms Sans";
}

nav{
    display: flex;
    background-color: cyan;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    display: inline;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    background-color: rgba(31, 194, 69, 0.999);
}

header .profile{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: violet;
}

header .profile img{
    width: 90%;
    height: 80%;
    margin: 20px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 10% 20%;
}

.title .main,.title .sub{
    display: flex;
    margin-left: 20px;
}

header .title{
    width: 100%;
    padding: 20px;
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
}
header .title .main p{
    font-size: 30px;
    font-weight: bold;
}

header .title .main span{
    color: yellow;
}

header .title .sub p{
    font-size: 25px;
    font-weight: normal;
}
section .main{
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 100%;
}

section .main .post1{
    display: flex;
}
.post1{
    background-color: yellow;
    margin-top: 10px;
}
.post1 img{
    width: 100px;
    height: 200px;
    object-fit: cover;
    object-position: 10% 50%;
    margin: 20px;
    border-radius: 20px;

}

section.main h1{
    margin-left: 20px;
}

section.main .post1 img {
    width: 20%;
}

section.main .post1 .exp {
    width: 60%;
    display: flex;
    flex-direction:column ;
}

.post1 img {
    width: 300px;
    height: 200px   ;
    object-fit: cover;
    margin: 20px;
    border-radius: 20px;
    object-position: 10% 50%;
}
.profil img{
    width: 400px;
    height: 300px   ;
    object-fit: cover;
    margin: 20px;
    border-radius: 20px;
    object-position: 10% 50%;
}

section.main h1{
    margin-left: 20px;
}

/* Setting content*/


/* Setting content*/

/* Setting footer */


footer{
    width: 100%;/*lebar 100 persen*/
    height: fit-content;/*sesuaikan tinggi dengan isi */
    padding-top: 30px;/*jarak dalem atas tambah*/
    padding-bottom: 30px;/*jarak dalem bawah tambah*/
    position: sticky;/*lengket, tidak kesan kemari*/
    bottom: 0;/*atur posisi dari bawah setinggi 0*/
    background-color: black;/*latar hitam*/
    color: white;/*isinya putih*/
    display: flex;/*di penuhin kanan kiri*/
    justify-content: center;/*konten ketengahin sesuai alur*/
}
/*setting footer*/

